$primary-color: #FF7F09;
$secondary-color: #F99B2A;
$tertiary-color: #2F6B9A;

$primary-10: #fff5ea;

$dark-text-color: #030233;
$light-text-color: #999999;

$bg-color: #fff7f0;

$header-color: $primary-color;
$footer-color: #191B20;

$white: #FFF;
$green: #04AA6D;
$red: #CC0000;

$corner-radius: 10px;
$box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow-soft: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);