$primary-color: #FF7F09;
$primary-25: rgba(255, 160, 163, 0.25);

$secondary-color: #F99B2A;

$accent-color: #f4f2e6;

$text-color: #030233;
$text-color-light: #D5D5E2;

$header-color: $primary-color;
$footer-color: #191B20;

$white: #FFF;

$corner-radius: 10px;
$box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$box-shadow-soft: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);